@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "antd/dist/reset.css";

::selection {
	background: rgba(15, 98, 106, 1);
	color: rgba(255, 255, 255, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
	margin: 0;
}
